<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.yinzp.dao.AdminiDAO">
	<!--登录-->
	<select id="queryByName" resultType="admini" parameterType="String">
		SELECT * FROM t_admini WHERE name=#{name}
	</select>
	<!--修改密码-->
	<update id="update" parameterType="admini">
		UPDATE t_admini SET password=#{password} where id=#{id}
	</update>
</mapper>
